{{set . "title" "Omnitutor - Registration"}}
{{template "header.html" .}}

<div class="container-fluid">
  <form class="form-signin">
    <div class="row">
      <div class="col-sm-4 col-sm-offset-4">
        <h2 class="form-signin-heading">{{msg . "account.register_greeting"}}</h2>
      </div>
    </div>
    <div class="row top-15">
      <div class="col-sm-4 col-sm-offset-4">
        <input type="email" name="email" class="form-control" placeholder='{{msg . "account.email_address"}} *' required="" autofocus="">
        <input type="username" name="username" class="form-control" placeholder='{{msg . "account.username"}} *' required="">
        <input type="password" name="password" class="form-control" placeholder='{{msg . "account.password"}} *' required="">
        <input type="password" name="confirmPassword" class="form-control" placeholder='{{msg . "account.confirm_password"}} *' required="">
      </div>
    </div>
    <div class="row top-15">
      <div class="col-sm-4 col-sm-offset-4">
        <button class="btn btn-lg btn-primary btn-block" type="submit">{{msg . "account.register"}}</button>
      </div>
    </div>
  </form>
</div>

{{template "footer.html" .}}
