{{set . "title" "Omnitutor - Registration"}}
{{template "header.html" .}}

<div class="container-fluid">
  <form class="form-signin" method="POST" action="/account/handleregister">
    <div class="row">
      <div class="col-sm-4 col-sm-offset-4">
        <h2 class="form-signin-heading">{{msg . "account.register_greeting"}}</h2>
      </div>
    </div>
    <div class="row top-15">
      <div class="control-group col-sm-4 col-sm-offset-4 {{if .errors}}error{{end}}">
        <input type="email" name="user.Email" class="form-control" placeholder='{{msg . "account.email_address"}} *' 
               required="" autofocus="" value='{{index .flash "user.Email"}}'>
        <span class="help-inline">{{index .errors "user.Email"}}</span>
        <input type="text" name="user.Username" class="form-control" placeholder='{{msg . "account.username"}} *' 
               required="" value='{{index .flash "user.Username"}}'>
        <span class="help-inline">{{index .errors "user.Username"}}</span>
        <input type="password" name="user.Password" class="form-control" placeholder='{{msg . "account.password"}} *' 
               required="" value='{{index .flash "user.Password"}}'>
        <span class="help-inline">{{index .errors "user.Password"}}</span>
        <input type="password" name="user.PasswordConfirm" class="form-control" placeholder='{{msg . "account.confirm_password"}} *' 
               required="" value='{{index .flash "user.PasswordConfirm"}}'>
        <span class="help-inline">{{index .errors "user.PasswordConfirm"}}</span>
      </div>
    </div>
    <div class="row top-15">
      <div class="col-sm-4 col-sm-offset-4">
        <button class="btn btn-lg btn-primary btn-block" type="submit">{{msg . "account.register"}}</button>
      </div>
    </div>
  </form>
</div>

{{template "footer.html" .}}
